<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aniquest</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top header">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Aniquest</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= if @current_user do %>
                <b>Welcome, <%= @current_user.name %>!</b>
                <img src="<%= @current_user.picture %>" class="img-circle"/>
                <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
              <% else %>
                <a class="btn btn-primary btn-sign-in" href="<%= auth_path(@conn, :index)%>">
                  <i class="fa fa-google"></i>
                  Sign in with Google
                </a>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
